<!DOCTYPE html>
<html>
<head>
  <title>ShortMessage</title>
  <%= stylesheet_link_tag    "short_message/application", media: "all" %>
  <%= javascript_include_tag "short_message/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
